<div style="display: flex; justify-content: center; align-items: center; height:600px;">
  <div>
    <h1>About</h1>
    <span style="border-bottom: solid 1px white;">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひ、ご注文ください！
    </span>
  </div>
</div>
