<div class="container my-5">
  <div class="row">
    <h2>会員一覧</h2>
  </div>

	<table class="table">
		<thead>
			<tr>
				<th>会員ID</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td style>
						<%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %>
					</td>
					<td> <%= customer.email %></td>
					<td><% if customer.is_active == true %>
					      <strong><p class="text-success">有効</p></strong>
					    <% else %>
					      <strong><p class="text-muted">退会</p></strong>
					    <% end %>
					</td>
				</tr>
			<% end %>
			<%= paginate @customers %>
		</tbody>
	</table>
</div>
